/* Importation de la police Open Sans en différentes variantes avec des fichiers .ttf */

/* Regular */
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Semi-Bold */
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600; /* Semi-Bold */
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Application globale d'Open Sans */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Importation de la police Open Sans en différentes variantes avec des fichiers .ttf */

/* Regular */
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Semi-Bold */
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600; /* Semi-Bold */
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Application globale d'Open Sans */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}