/* Style général de la navbar */
.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--tennis-secondary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Logo à gauche */
.navbar-logo {
  flex: 0 0 auto;
}

.navbar-logo img {
  height: 50px;
}

/* Icônes de réseaux sociaux au centre */
.navbar-socials {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
}

.navbar-socials a {
  color: #FFFFFF;
  transition: color 0.3s ease;
}

.navbar-socials a:hover {
  color: var(--tennis-primary-color);
}

/* Liens à droite */
.navbar-links {
  display: flex;
  margin-left: auto;
  list-style: none;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: var(--tennis-text-color);
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: var(--tennis-primary-color);
}

/* Bouton "Book" - masqué par défaut */
.book-button {
  display: none; /* Masqué en écran normal */
  background-color: transparent;
  color: var(--tennis-text-color);
  padding: 8px 16px;
  border: 2px solid var(--tennis-text-color);
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: 15px;
}

.book-button:hover {
  background-color: var(--tennis-text-color);
  color: var(--tennis-secondary-color);
}

/* Icône du burger menu */
.burger-icon {
  display: none;
  font-size: 24px;
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

/* Slide menu pour responsive */
.slide-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/prestige.jpg');
  background-size: cover;
  background-position: center;
  transition: right 0.3s ease;
  z-index: 99;
}

.slide-menu.open {
  right: 0;
}

.slide-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.slide-menu-content a {
  color: var(--tennis-text-color);
  font-size: 2rem;
  margin-bottom: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.slide-menu-content a:hover {
  color: var(--tennis-primary-color);
}

/* *** Responsive pour petits écrans *** */
@media (max-width: 768px) {
  .navbar-socials {
    display: none;
  }

  .navbar-right {
    display: flex;
    margin-left: auto;
  }

  .burger-icon {
    display: block;
  }

  .navbar-links {
    display: none;
  }

  .book-button {
    display: block; /* Afficher le bouton Book uniquement en responsive */
  }
}
